footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9vh;
}

.logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
}
