header {
  background-color: #004aad;
  color: #f3f5f7;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #f3f5f7;
  font-weight: bold;
}

.logo {
  margin-left: 20px;
}

.logo img {
  max-width: 125px;
  height: auto;
}
.bg-body-tertiary {
  background-color: blue;
  color: aqua;
}
.bg .navbar .botao-login {
  display: flex;
  justify-content: end;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
